.footer {
    padding: 50px 0;
    background: #fde4e4;
}

.logo_footer img {
    width: calc(100% - 80%);
    margin-bottom: 5px;
}

.logo_footer h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}

.logo_footer p {
    font-size: .9rem;
    color: #333;
    line-height: 28px;
}

.footer_title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #212245
}

.delivery_time-item {
    background: transparent !important;
}

.delivery_time-item span {
    font-weight: 600;
    font-size: 1rem;
    color: #212245;
}

.delivery_time-item p {
    color: #212245;
}

.newsletter {
    padding: 5px;
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.newsletter input:focus {
    outline: none;
}

.newsletter input::placeholder {
    color: #212245
}

.newsletter span {
    padding: 5px 10px;
    cursor: pointer;
}